@model Post

@{
    ViewData["Title"] = "PostDetails";
}

<h1>PostDetails</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostPublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostPublishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHighlighted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHighlighted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostLongDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostLongDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditPost", new {id = Model.Id})
    <a asp-action="Allposts">Back to List</a>
</div>
